.profil{
    display: flex; 
    flex-direction: column; 
    border-radius: 30px; 
    border: 2px solid #d4d4d4 ;
    background: #dff7f4; 
    width: 50%;
    align-items: center; 
}

.profilbilde{
    width: 200px;
    border-radius: 60%;
    border: 4px solid #ffffff; 
}

.name{
    color: #084c61;
    font-weight: 700;
    margin: 1rem; 
    position: relative;
  display: inline-block;
}
.name::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0%;
  height: 2px;
  background: #145b57;
  transition: width 0.25s ease;
}

.name:hover::after {
  width: 100%;
}

.mail{
text-decoration: none;
color:  #084c61;
margin-top: -0.5rem;
}

.studie{
    margin: 0.5rem;
}



