.patrick-profile-kort {
    box-sizing: border-box;
    width: 82%;
    padding: 0.5rem;
    border: 1px solid #636363;
    border-radius: 1rem;
    background-color: #000000;
    margin-left: auto;
}

.patrick-profile-kort header h2 {
    margin-top: 0;
    color: #ffffff; 
}

.patrick-profile-kort img {
    width: 100%;
    height: auto;
}

.patrick-profile-kort a {
    color: #0080ff;
    text-decoration: none;
}