.arbeidskrav-layout{
  margin: 3rem;

  h2{
    font-size:30px;
    text-decoration: underline;
  }

  h3{
    color: default;
    margin-bottom: 0.5rem;
  }

  p{
    color: default;
  }
}
.arbeidskrav-layout ul{
   text-align: left; 
  list-style: none; 
}

.arbeidskrav-layout li{
   border-bottom: 2px solid #a9a7a7; 
   padding-bottom: 2%;
}

.medlem-kort {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 

  gap: 2rem; 
  width: 100%;
  max-width: 1000px; 
  margin: 0 auto; 
}

.medlem-kort article {
  padding: 4rem;
}

 

