.arbeidskrav-layout{
  margin: 3rem;
 
  
 

  h2{
    font-size:30px;
    text-decoration: underline;
  }

  h3{
    color: #000000;
    margin-bottom: 0.5rem;
  }

  p{
    color:#000000;
  }
}
.arbeidskrav-layout ul{
   text-align: left; 
  list-style: none; 
  
 
}

.arbeidskrav-layout li{
   border-bottom: 2px solid #a9a7a7; 
   padding-bottom: 2%;
}


 

